@media only screen and (max-width: 900px) {
  body {
    background-color: #fff;
    padding-top: 3.8rem;
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
  }
  div {
    font-family: inter, arial;
  }
  
  p {
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: sora, montserrat;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
  }
  
  h6 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
}
